@import '../../styles/mixins';

.sortBar {
  @include responsive-layout-margin;
  padding: $size-x2 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    @include section-padding;
  }
}
