@import '../../styles/mixins';
@import '../../styles/variables';

.flexGap2 {
  display: flex;
  gap: $size-x2;
}

.mobileFilterBar {
  @include responsive-layout-margin;
  > div {
    @extend .flexGap2;
    padding-top: $size-x4;
  }
  div:nth-child(2) div {
    flex: 1;
  }
}

.desktopFilterBar {
  @include responsive-layout-margin;
  @include section-padding;
  display: flex;
  justify-content: space-between;
  gap: $size-x4;
  border-bottom: 2px solid $gray;
  > div {
    @extend .flexGap2;
  }
}

.appliedFilters {
  display: flex;
  align-items: center;
  background-color: $primary;
  border-radius: $br-small;
  padding: $size-x1;
  color: $white;
  font-size: 14px;
}
