//----------- colors
$primary: #4abc21;
$secondary: #00afd6;
$white: #fcfcfc;

//----------- space
$size-x1: 6px;
$size-x2: 12px;
$size-x3: 18px;
$size-x4: 24px;

//----------- border-radius
$br-small: 4px;
$br-big: 8px;
$br-extra-big: 16px;
