//----------- colors
$primary: #4abc21;
$secondary: #00afd6;
$white: #fcfcfc;
$gray: #e2e2e2;
$black: #1c1c1c;
$warning: #ffa500;
$error: #ff0000;

//----------- space
$size-x1: 6px;
$size-x2: 12px;
$size-x3: 18px;
$size-x4: 24px;

//----------- border-radius
$br-small: 4px;
$br-big: 8px;
$br-extra-big: 16px;

//----------- sizes
$header-mobile-height: 110px;
$header-desktop-height: 160px;
